{% extends 'base_generic.html' %}

{% block content %}

<section class="section " id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading m-3 p-3 ">
                    <h2>Men's Latest</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
        </div>
    </div>

    <div class ="container">
        
        {% for cat in catgory %}
        <div class="section-heading m-1 p-1 ">
            <h2>{{cat.name}}</h2>
        </div>
        <div class = 'row'>
            {% for item in items %}
            {% if item.catgory == cat %}
            
            <div class="card rounded shadow-sm border-0 m-2 " style="width: 16rem;">
                <img class="card-img-top " src="{{item.image.url}}" alt="Card image cap" height = "300">
                <div class="card-body">
                    <a class="card-title" href= "#">{{item.name}}</a>
                    <p class="card-text">Price: {{item.price}} $</p>
                    <ul class="list-inline small">
                        
                        
                        {% for _ in item.get_stars_range %}
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                      {% endfor %}
                            
                        
                      </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
     
</section>
{% endblock content %}